<div class="row">
<div class="col-md-8">
<agm-map
    [latitude]="lat"
    [longitude]="lng"
    [zoom]="zoom"
    >



  <agm-marker
    *ngFor="let k of marcadores | keys; let i = index"
    [latitude]="marcadores[k].lat"
    [longitude]="marcadores[k].lng"
    [title]="marcadores[k].nombre"
      (markerClick)="clickMarcador( marcador, i )">
      	<agm-info-window>
          <strong>{{ marcadores[k].nombre }}</strong>
          <p *ngIf="marcadores[k].direccion">
            {{marcadores[k].direccion}}
          </p>
          


      	</agm-info-window>


    </agm-marker>
</agm-map>
</div>
<div class="col-md-4">
  <div *ngIf="marcadorSel">
    <div class="form-group">
      <label>Titulo</label>
      <input type="text"
              [(ngModel)]="marcadorSel.titulo"
              name="titulo"
              class="form-control">
    </div>

    <div class="form-group">
      <label>Descripción</label>
      <textarea type="text"
              [(ngModel)]="marcadorSel.desc"
              name="desc"
              rows="5"
              class="form-control">
      </textarea>
    </div>
    <div class="form-group">
      <label>Arrastrable</label>
      <select
          [(ngModel)]="draggable"
          class="form-control"
           name="draggable"
           (change)="cambiarDraggable()">
           <<option value="1">Si</option>
           <<option value="0">No</option>
      </select>
    </div>

    <button
        type="button"
        (click)="ms.guardarMarcadores()"
        class="btn btn-outline-primary btn-block">
      Guardar Cambios
    </button>

  </div>
</div>
</div>
