<h3>Marcadores</h3>
<br>

<div class="row">
  <div class="col-md-12 text-right">
    <button
        class="btn btn-outline-primary"
        type="button"
        [routerLink]="['/marcador','nuevo']"
        name="button">
      Nuevo
    </button>
  </div>
</div>
<br>


<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Direcion</th>
      <th>Latitud</th>
      <th>Longitud</th>
      <th>Operar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let k of marcadores | keys">
      <th scope="row">{{ marcadores[k].id }}</th>
      <td>{{ marcadores[k].nombre }}</td>
      <td>{{ marcadores[k].direccion }}</td>
      <td>{{ marcadores[k].lat }}</td>
      <td>{{ marcadores[k].lng }}</td>
      <td> <button type="button" [routerLink]="['/marcador', k ]" class="btn btn-outline-primary">Editar</button> </td>
    </tr>

  </tbody>
</table>
